html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #144;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 20% 80%;
}

#gameCanvas {
  justify-self: center;
  align-self: start;
  border-radius: 5px;
  border: 1px solid #188;
  width: 50vw;
  height: 50vh;
  background-color: black;
}

.information {
  margin: 0;
  align-self: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countExtra {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
}

.h1 {
  color: yellowgreen;
  font-size: 90px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 1000;
  font-variant: small-caps;
  text-shadow: 0 8px 8px black;
}

#count, #extra {
  color: white;
}

/*0 styles*/ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}